In [1]:
import pandas as pd
from sqlalchemy import create_engine
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
# Store CSV into dataframe
csv_file = "movie_metadata.csv"
movie_metadata_df = pd.read_csv("movie_metadata.csv")
movie_metadata_df.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/1995,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/1995,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/1995,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92

In [3]:
movie_id = []
countries_abbr = []
countries_name = []

# loop thru each row
for idx, rows in movie_metadata_df.iterrows():

# country is stored as string, evaluate it to a list of dictionaries
   prod_countries_dict = eval(rows['production_countries'])
# look thru each dictionary and extract director name based on country name
   for i in range(len(prod_countries_dict)):
        countries_abbr.append(prod_countries_dict[i]['iso_3166_1'])
        countries_name.append(prod_countries_dict[i]['name'])
        movie_id.append(rows.id)
       


# create Country dataframe to merge with movies data
prod_countries_df = pd.DataFrame({"movie_id": movie_id,"country_name": countries_name,
                                 "country_abbr":countries_abbr})
prod_countries_df.count()

movie_id        49423
country_name    49423
country_abbr    49423
dtype: int64

In [4]:
rds_connection_string = "root:Kosalamosala1!@127.0.0.1/movies_database"
engine = create_engine(f'mysql://{rds_connection_string}')

In [5]:
prod_countries_df.to_sql(name='production_countries', con=engine, if_exists='append', index=False)