In [1]:
# Import Dependencies
import pandas as pd
# import json

In [2]:
movies_csv = "movies_metadata.csv"
#dash_csv = "Resources/dash_price.csv"

In [3]:
movies_df = pd.read_csv(movies_csv)
movies_dataprep = movies_df[['genres', 'budget', 'id', 'original_title', 'popularity', 
                            'production_companies', 'release_date', 'revenue', 'status']].copy()
movies_dataprep.head()

C:\Users\naras\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,genres,budget,id,original_title,popularity,production_companies,release_date,revenue,status
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",30000000,862,Toy Story,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]",10/30/1995,373554033.0,Released
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",65000000,8844,Jumanji,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",12/15/1995,262797249.0,Released
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0,15602,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",12/22/1995,0.0,Released
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",16000000,31357,Waiting to Exhale,3.85949,[{'name': 'Twentieth Century Fox Film Corporat...,12/22/1995,81452156.0,Released
4,"[{'id': 35, 'name': 'Comedy'}]",0,11862,Father of the Bride Part II,8.38752,"[{'name': 'Sandollar Productions', 'id': 5842}...",2/10/1995,76578911.0,Released

In [4]:
movies_dataprep.iloc[1,:]

genres                  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
budget                                                           65000000
id                                                                   8844
original_title                                                    Jumanji
popularity                                                        17.0155
production_companies    [{'name': 'TriStar Pictures', 'id': 559}, {'na...
release_date                                                   12/15/1995
revenue                                                       2.62797e+08
status                                                           Released
Name: 1, dtype: object

In [5]:
# movies_dataprep.genres[0]
# columns = ['genres', 'budget', 'id', 'original_title', 'popularity', 
#                             'production_companies', 'release_date', 'revenue', 'status']
# movies_unpack_genres = pd.DataFrame(columns=columns)
# print(movies_unpack_genres)

# for idx, rows in movies_dataprep.head(100).iterrows():
# Genres is a list of dictionaries, however the data is passed as a string from the cvs file. Use 
# eval() to convert string to a list. 
#     print(type(rows))
#     genres_dict = eval(rows['genres'])
# data is not clean, in situations where genres is not available, default genres to 'n/a'
# loop thru the list of dictionay and unpack genres
#     for i in range(len(genres_dict)):
#         try:
#             print(genres_dict[0]['name'])
#             temp_df = 
#             movies_unpack_genres = movies_unpack_genres.append(genres_dict[i],rows[1:8]),
#                 ignore_index=True
#             print(genres_dict[0]['name'])
#         except:
#             print(rows['genres'])
#             break
#     genres_json = json.loads(genres_str)
#     genres_json = eval(rows['genres'])
#     print(genres_json[1])
#     print(idx)
#     print("/n")

In [6]:
budget = []
genres = []
movie_id = []
orig_title = []
popularity = []
production_companies = []
release_date = []
revenue = []
status = []

for idx, rows in movies_dataprep.iterrows():
#     budget = rows.budget
#     movie_id = rows.id
#     orig_title = original_title
    genres_dict = eval(rows['genres'])
    for i in range(len(genres_dict)):
        budget.append(rows.budget)
        movie_id.append(rows.id)
        orig_title.append(rows.original_title)
        popularity.append(rows.popularity)
        production_companies.append(rows.production_companies)
        release_date.append(rows.release_date)
        revenue.append(rows.revenue)
        status.append(rows.status)
        try:
            genres.append(genres_dict[i]['name'])
        except:
#             print(rows)
            genres.append("n/a")
            break
    
movies_genres_unstacked = pd.DataFrame({"genres": genres, "movie_id": movie_id, "budget": budget, 
                                     "original_title": orig_title, "popularity": popularity, 
                                      "production_companies" : production_companies, 
                                       "release_date": release_date, "revenue":revenue, 
                                       "status":status})
print(movies_genres_unstacked)

                genres movie_id    budget                    original_title  \
0            Animation      862  30000000                         Toy Story
1               Comedy      862  30000000                         Toy Story
2               Family      862  30000000                         Toy Story
3            Adventure     8844  65000000                           Jumanji
4              Fantasy     8844  65000000                           Jumanji
5               Family     8844  65000000                           Jumanji
6              Romance    15602         0                  Grumpier Old Men
7               Comedy    15602         0                  Grumpier Old Men
8               Comedy    31357  16000000                 Waiting to Exhale
9                Drama    31357  16000000                 Waiting to Exhale
10             Romance    31357  16000000                 Waiting to Exhale
11              Comedy    11862         0       Father of the Bride Part II
12              Action      949  60000000                              Heat
13               Crime      949  60000000                              Heat
14               Drama      949  60000000                              Heat
15            Thriller      949  60000000                              Heat
16              Comedy    11860  58000000                           Sabrina
17             Romance    11860  58000000                           Sabrina
18              Action    45325         0                      Tom and Huck
19           Adventure    45325         0                      Tom and Huck
20               Drama    45325         0                      Tom and Huck
21              Family    45325         0                      Tom and Huck
22              Action     9091  35000000                      Sudden Death
23           Adventure     9091  35000000                      Sudden Death
24            Thriller     9091  35000000                      Sudden Death
25           Adventure      710  58000000                         GoldenEye
26              Action      710  58000000                         GoldenEye
27            Thriller      710  58000000                         GoldenEye
28              Comedy     9087  62000000            The American President
29               Drama     9087  62000000            The American President
...                ...      ...       ...                               ...
91076           Comedy    49271         0           Le locataire diabolique
91077        Animation    14885         0  Pooh's Heffalump Halloween Movie
91078           Family    14885         0  Pooh's Heffalump Halloween Movie
91079          Fantasy    49280         0                 L'Homme orchestre
91080           Action    49280         0                 L'Homme orchestre
91081         Thriller    49280         0                 L'Homme orchestre
91082           Comedy   106807         0    Nouvelles luttes extravagantes
91083          Fantasy   106807         0    Nouvelles luttes extravagantes
91084      Documentary   276895         0                       Deep Hearts
91085            Crime   404604         0                               Maa
91086            Drama   404604         0                               Maa
91087         Thriller   404604         0                               Maa
91088           Comedy   420346         0                 The Morning After
91089            Drama   420346         0                 The Morning After
91090           Horror    84419         0                  House of Horrors
91091          Mystery    84419         0                  House of Horrors
91092         Thriller    84419         0                  House of Horrors
91093          Mystery   390959         0         Shadow of the Blair Witch
91094           Horror   390959         0         Shadow of the Blair Witch
91095           Horror   289923         0               The Burkittsville 7
91096  Science Fiction   222848         0                   Caged Heat 3000
91097            Drama    30840         0                        Robin Hood
91098           Action    30840         0                        Robin Hood
91099          Romance    30840         0                        Robin Hood
91100            Drama   439050         0                           رگ خواب
91101           Family   439050         0                           رگ خواب
91102            Drama   111109         0               Siglo ng Pagluluwal
91103           Action    67758         0                          Betrayal
91104            Drama    67758         0                          Betrayal
91105         Thriller    67758         0                          Betrayal

      popularity                               production_companies  \
0        21.9469     [{'name': 'Pixar Animation Studios', 'id': 3}]
1        21.9469     [{'name': 'Pixar Animation Studios', 'id': 3}]
2        21.9469     [{'name': 'Pixar Animation Studios', 'id': 3}]
3        17.0155  [{'name': 'TriStar Pictures', 'id': 559}, {'na...
4        17.0155  [{'name': 'TriStar Pictures', 'id': 559}, {'na...
5        17.0155  [{'name': 'TriStar Pictures', 'id': 559}, {'na...
6        11.7129  [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
7        11.7129  [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
8        3.85949  [{'name': 'Twentieth Century Fox Film Corporat...
9        3.85949  [{'name': 'Twentieth Century Fox Film Corporat...
10       3.85949  [{'name': 'Twentieth Century Fox Film Corporat...
11       8.38752  [{'name': 'Sandollar Productions', 'id': 5842}...
12       17.9249  [{'name': 'Regency Enterprises', 'id': 508}, {...
13       17.9249  [{'name': 'Regency Enterprises', 'id': 508}, {...
14       17.9249  [{'name': 'Regency Enterprises', 'id': 508}, {...
15       17.9249  [{'name': 'Regency Enterprises', 'id': 508}, {...
16       6.67728  [{'name': 'Paramount Pictures', 'id': 4}, {'na...
17       6.67728  [{'name': 'Paramount Pictures', 'id': 4}, {'na...
18       2.56116        [{'name': 'Walt Disney Pictures', 'id': 2}]
19       2.56116        [{'name': 'Walt Disney Pictures', 'id': 2}]
20       2.56116        [{'name': 'Walt Disney Pictures', 'id': 2}]
21       2.56116        [{'name': 'Walt Disney Pictures', 'id': 2}]
22       5.23158  [{'name': 'Universal Pictures', 'id': 33}, {'n...
23       5.23158  [{'name': 'Universal Pictures', 'id': 33}, {'n...
24       5.23158  [{'name': 'Universal Pictures', 'id': 33}, {'n...
25        14.686  [{'name': 'United Artists', 'id': 60}, {'name'...
26        14.686  [{'name': 'United Artists', 'id': 60}, {'name'...
27        14.686  [{'name': 'United Artists', 'id': 60}, {'name'...
28       6.31844  [{'name': 'Columbia Pictures', 'id': 5}, {'nam...
29       6.31844  [{'name': 'Columbia Pictures', 'id': 5}, {'nam...
...          ...                                                ...
91076   0.725084       [{'name': 'Star Film Company', 'id': 45867}]
91077   2.568495        [{'name': 'Walt Disney Pictures', 'id': 2}]
91078   2.568495        [{'name': 'Walt Disney Pictures', 'id': 2}]
91079   1.109068       [{'name': 'Star Film Company', 'id': 45867}]
91080   1.109068       [{'name': 'Star Film Company', 'id': 45867}]
91081   1.109068       [{'name': 'Star Film Company', 'id': 45867}]
91082   0.225432                [{'name': 'Star-Film', 'id': 7159}]
91083   0.225432                [{'name': 'Star-Film', 'id': 7159}]
91084   0.011025                                                 []
91085   1.559596  [{'name': 'Mad Films', 'id': 82459}, {'name': ...
91086   1.559596  [{'name': 'Mad Films', 'id': 82459}, {'name': ...
91087   1.559596  [{'name': 'Mad Films', 'id': 82459}, {'name': ...
91088   0.139936  [{'name': 'Oops Doughnuts Productions', 'id': ...
91089   0.139936  [{'name': 'Oops Doughnuts Productions', 'id': ...
91090   0.222814         [{'name': 'Universal Pictures', 'id': 33}]
91091   0.222814         [{'name': 'Universal Pictures', 'id': 33}]
91092   0.222814         [{'name': 'Universal Pictures', 'id': 33}]
91093   0.076061                                                 []
91094   0.076061                                                 []
91095    0.38645  [{'name': 'Neptune Salad Entertainment', 'id':...
91096   0.661558    [{'name': 'Concorde-New Horizons', 'id': 4688}]
91097   5.683753  [{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...
91098   5.683753  [{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...
91099   5.683753  [{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...
91100   0.072051                                                 []
91101   0.072051                                                 []
91102   0.178241             [{'name': 'Sine Olivia', 'id': 19653}]
91103   0.903007  [{'name': 'American World Pictures', 'id': 6165}]
91104   0.903007  [{'name': 'American World Pictures', 'id': 6165}]
91105   0.903007  [{'name': 'American World Pictures', 'id': 6165}]

      release_date      revenue    status
0       10/30/1995  373554033.0  Released
1       10/30/1995  373554033.0  Released
2       10/30/1995  373554033.0  Released
3       12/15/1995  262797249.0  Released
4       12/15/1995  262797249.0  Released
5       12/15/1995  262797249.0  Released
6       12/22/1995          0.0  Released
7       12/22/1995          0.0  Released
8       12/22/1995   81452156.0  Released
9       12/22/1995   81452156.0  Released
10      12/22/1995   81452156.0  Released
11       2/10/1995   76578911.0  Released
12      12/15/1995  187436818.0  Released
13      12/15/1995  187436818.0  Released
14      12/15/1995  187436818.0  Released
15      12/15/1995  187436818.0  Released
16      12/15/1995          0.0  Released
17      12/15/1995          0.0  Released
18      12/22/1995          0.0  Released
19      12/22/1995          0.0  Released
20      12/22/1995          0.0  Released
21      12/22/1995          0.0  Released
22      12/22/1995   64350171.0  Released
23      12/22/1995   64350171.0  Released
24      12/22/1995   64350171.0  Released
25      11/16/1995  352194034.0  Released
26      11/16/1995  352194034.0  Released
27      11/16/1995  352194034.0  Released
28      11/17/1995  107879496.0  Released
29      11/17/1995  107879496.0  Released
...            ...          ...       ...
91076     1/1/1909          0.0  Released
91077    9/13/2005          0.0  Released
91078    9/13/2005          0.0  Released
91079     1/1/1900          0.0  Released
91080     1/1/1900          0.0  Released
91081     1/1/1900          0.0  Released
91082     1/1/1900          0.0  Released
91083     1/1/1900          0.0  Released
91084     1/1/1981          0.0  Released
91085     7/7/2017          0.0  Released
91086     7/7/2017          0.0  Released
91087     7/7/2017          0.0  Released
91088    1/11/2015          0.0  Released
91089    1/11/2015          0.0  Released
91090    3/29/1946          0.0  Released
91091    3/29/1946          0.0  Released
91092    3/29/1946          0.0  Released
91093   10/22/2000          0.0  Released
91094   10/22/2000          0.0  Released
91095    10/3/2000          0.0  Released
91096     1/1/1995          0.0  Released
91097    5/13/1991          0.0  Released
91098    5/13/1991          0.0  Released
91099    5/13/1991          0.0  Released
91100          NaN          0.0  Released
91101          NaN          0.0  Released
91102   11/17/2011          0.0  Released
91103     8/1/2003          0.0  Released
91104     8/1/2003          0.0  Released
91105     8/1/2003          0.0  Released

[91106 rows x 9 columns]

In [9]:
budget = []
genres = []
movie_id = []
orig_title = []
popularity = []
production_companies = []
release_date = []
revenue = []
status = []

for idx, rows in movies_genres_unstacked.iterrows():
#     print(rows)
#     budget = rows.budget
#     movie_id = rows.id
#     orig_title = original_title
#     print(rows['production_companies'])
    try:
        production_companies_dict = eval(rows['production_companies'])
    except:
        print(rows['production_companies'])
    for i in range(len(production_companies_dict)):
        genres.append(rows.genres)
        budget.append(rows.budget)
        movie_id.append(rows.movie_id)
        orig_title.append(rows.original_title)
        popularity.append(rows.popularity)
        release_date.append(rows.release_date)
        revenue.append(rows.revenue)
        status.append(rows.status)
        try:
            production_companies.append(production_companies_dict[i]['name'])
        except:
#             print(rows)
            production_companies.append("n/a")
            break
    
movies_final = pd.DataFrame({"genres": genres, "movie_id": movie_id, "budget": budget, 
                                     "original_title": orig_title, "popularity": popularity, 
                                      "production_companies" : production_companies, 
                                       "release_date": release_date, "revenue":revenue, 
                                       "status":status})
movies_final.head()

nan
nan
nan
FALSE
FALSE
FALSE
nan
nan
FALSE
FALSE
FALSE
FALSE
FALSE
nan
nan
nan
nan
FALSE
FALSE
FALSE
FALSE

,genres,movie_id,budget,original_title,popularity,production_companies,release_date,revenue,status
0,Animation,862,30000000,Toy Story,21.9469,Pixar Animation Studios,10/30/1995,373554033.0,Released
1,Comedy,862,30000000,Toy Story,21.9469,Pixar Animation Studios,10/30/1995,373554033.0,Released
2,Family,862,30000000,Toy Story,21.9469,Pixar Animation Studios,10/30/1995,373554033.0,Released
3,Adventure,8844,65000000,Jumanji,17.0155,TriStar Pictures,12/15/1995,262797249.0,Released
4,Adventure,8844,65000000,Jumanji,17.0155,Teitler Film,12/15/1995,262797249.0,Released

In [ ]:
tmp[3]

In [ ]:
bitcoin_df.head()

In [ ]:
dash_df.head()

In [ ]:
# Merge the two DataFrames together based on the Dates they share
crypto_df = pd.merge(bitcoin_df, dash_df, on="Date")
crypto_df.head()

In [ ]:
# Rename columns so that they are differentiated
crypto_df = crypto_df.rename(columns={"Open_x": "Bitcoin Open", "High_x": "Bitcoin High", "Low_x": "Bitcoin Low",
                                      "Close_x": "Bitcoin Close", "Volume_x": "Bitcoin Volume", "Market Cap_x": "Bitcoin Market Cap"})

crypto_df = crypto_df.rename(columns={"Open_y": "Dash Open", "High_y": "Dash High", "Low_y": "Dash Low",
                                      "Close_y": "Dash Close", "Volume_y": "Dash Volume", "Market Cap_y": "Dash Market Cap"})

crypto_df.head()

In [ ]:
# alternatively you can set your suffixes when the merge occurs
alternative_merge = pd.merge(
    bitcoin_df, dash_df, on="Date", suffixes=("_Bitcoin", "_Dash"))
alternative_merge.head()

In [ ]:
# Collecting best open for Bitcoin and Dash
bitcoin_open = crypto_df["Bitcoin Open"].max()
dash_open = crypto_df["Dash Open"].max()

# Collecting best close for Bitcoin and Dash
bitcoin_close = crypto_df["Bitcoin Close"].max()
dash_close = crypto_df["Dash Close"].max()

# Collecting the total volume for Bitcoin and Dash
bitcoin_volume = round(crypto_df["Bitcoin Volume"].sum()/1000000, 2)
dash_volume = round(crypto_df["Dash Volume"].sum()/1000000, 2)

In [ ]:
# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({"Best Bitcoin Open": [bitcoin_open],
                           "Best Bitcoin Close": [bitcoin_close],
                           "Total Bitcoin Volume": str(bitcoin_volume)+" million",
                           "Best Dash Open": [dash_open],
                           "Best Dash Close": [dash_close],
                           "Total Dash Volume": str(dash_volume)+" million"})

summary_df